<ion-view view-title="calcApp">
	<ion-content>
		<ion-list>
			<!--<ion-item nav-clear menu-close ng-click="login()">
				Login
			</ion-item>-->
			<ion-item nav-clear menu-close href="#/app/input">
				Data input
			</ion-item>
			<ion-item nav-clear menu-close href="#/app/info">
				Info
			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>
