<ion-view view-title="BMI">
  <ion-content>
    <h1>Oblicz BMI</h1>
    <div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Waga</span>
				<input type="text" placeholder="kg" ng-model="user_wieght">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Wzrost</span>
				<input type="text" placeholder="m" ng-model="user_height">
			</label>
	</div>
	<button class="button button-block button-positive" ng-onclick="calculateBMI()">Okejka</button>
  </ion-content>
</ion-view>