<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable nav-title-slide-ios7">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios7-arrow-back"></i>
			</ion-nav-back-button>

			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="right" <!--class="dark-bg"--> >
		<ion-header-bar class="bar-stable bar-dark">
			<h1 class="title">Menu</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item nav-clear menu-close href="#/app/home" class="item-icon-left">
					<i class="icon ion-home"></i> Home
				</ion-item>
				<!--<ion-item nav-clear menu-close ng-click="login()" class="item-icon-left">
					<i class="icon ion-android-lock"></i> Login
				</ion-item>-->
				<ion-item nav-clear menu-close href="#/app/input" class="item-icon-left">
					<i class="icon ion-compose"></i> Data input</a>
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/info" class="item-icon-left">
					<i class="icon ion-information-circled"></i> Info
				</ion-item>
				
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
